@keyframes float {
  
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes pop { from { transform: scale(1) } to { transform: scale(1.1) } }

@media (max-width: 320px) {
    .heading {
      font-size: 20px;
    }
}
@media (min-width: 320px) {
    .heading {
      font-size: 50px;
      margin-top: 12%;
      z-index: 13;
    }
    .title {
      font-size: 35px;
      z-index: 20;
    }
    .subtitle {
      font-size: 18px;
      z-index: 20;
    }
    .earth {
      width: 100%;
      height: 100%;
    }
    .earthImg {
      z-index: 15;
      margin-bottom: 50px;
      margin-right: 36%;
      max-height: 500px;
      max-width: 1920px; 
      transition: all 1s ease-in-out;
      animation: float 10s ease-in-out infinite;
    }
    .earthImg:hover {
      animation: float 10s ease-in-out infinite, pop 1s ease forwards;
    }
    .earthImg:active {
      animation: float 10s ease-in-out infinite, pop 1s ease forwards;
    }
    .iconsAndTitleSubtitleContainer {
      bottom: 6%;
      left: 4%;
      right: 4%;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      z-index: 20;
    }
    .titleSubtitleContainer {
      align-items: flex-start;
      margin-bottom: 30px;
      z-index: 20;
    }
    .iconsContainer {
      flex-direction: row;
      z-index: 20;
    }

}
@media (min-width: 435px) {
    .heading {
      font-size: 60px;
      margin-top: 6%;
    }
    .earthImg {
      margin-bottom: 40px;
      margin-right: 36%;
      max-height: 500px;
      max-width: 1920px;
    }
    .iconsAndTitleSubtitleContainer {
      bottom: 6%;
      left: 4%;
      right: 4%;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    .titleSubtitleContainer {
      align-items: flex-start;
    }
    .iconsContainer {
      flex-direction: row;
    }
}
@media (min-width: 535px) {
    .heading {
      font-size: 80px;
      margin-top: 10%;
    }
    .earthImg {
      margin-bottom: -40px;
      margin-right: 36%;
      max-height: 500px;
      max-width: 1920px;
    }
    .iconsAndTitleSubtitleContainer {
      bottom: 4%;
      left: 10%;
      right: 10%;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .titleSubtitleContainer {
      align-items: flex-start;
      margin-bottom: 0px;
    }
    .iconsContainer {
      flex-direction: row;
    }
}
@media (min-width: 650px) {
    .heading {
      font-size: 100px;
      margin-top: 7%;
    }
    .earthImg {
      margin-bottom: -70px;
      margin-right: 36%;
      max-height: 500px;
      max-width: 1920px;
    }
    .iconsAndTitleSubtitleContainer {
      bottom: 4%;
      left: 10%;
      right: 10%;
      flex-direction: row-reverse;
    }
    .titleSubtitleContainer {
      align-items: flex-start;
    }
    .iconsContainer {
      flex-direction: row;
    }
}
@media (min-width: 768px) {
    .heading {
      font-size: 120px;
      margin-top: 12%;
    }
    .title {
      font-size: 30px;
    }
    .subtitle {
      font-size: 16px;
    }
    .earthImg {
      margin-bottom: -150px;
      margin-right: 36%;
      max-height: 500px;
      max-width: 1920px;
    }
    .iconsAndTitleSubtitleContainer {
      bottom: 10%;
      left: 6%;
      right: 6%;
      flex-direction: row;
    }
    .titleSubtitleContainer {
      align-items: flex-end;
    }
    .iconsContainer {
      flex-direction: column;
    }
    
    
}
@media (min-width: 900px) {
    .heading {
      font-size: 140px;
      margin-top: 5%;
    }
    .title {
      font-size: 45px;
    }
    .subtitle {
      font-size: 22px;
    }
    .earthImg {
      margin-bottom: -150px;
      margin-right: 32%;
      max-height: 540px;
      max-width: 1920px;
    }
    .iconsAndTitleSubtitleContainer {
      bottom: 10%;
      left: 6%;
      right: 6%;
    }
}
@media (min-width: 1000px) {
    .heading {
      font-size: 160px;
      margin-top: 3%;
    }
    .earthImg {
      margin-bottom: -150px;
      margin-right: 30%;
      max-height: 540px;
      max-width: 1920px;
    }
    .iconsAndTitleSubtitleContainer {
      bottom: 10%;
      left: 6%;
      right: 6%;
    }
}
@media (min-width: 1100px) {
    .heading {
      font-size: 180px;
      margin-top: 1%;
    }
    .earthImg {
      margin-bottom: -170px;
      margin-right: 30%;
      max-height: 580px;
      max-width: 1920px;
    }
}
@media (min-width: 1200px) {
    .heading {
      font-size: 200px;
    }
    .title {
      font-size: 65px;
    }
    .subtitle {
      font-size: 42px;
    }
    .earthImg {
      margin-bottom: -190px;
      margin-right: 30%;
    }
}
@media (min-width: 1300px) {
    .heading {
      font-size: 220px;
    }
    .earthImg {
      margin-bottom: -210px;
      margin-right: 30%;
    }


}
@media (min-width: 1440px) {
    .heading {
      font-size: 240px;
      margin-top: -1%;
    }
}